/* 전체 기본 스타일 */
body {
  margin: 0; /* 0 세팅하는 이유? 브라우저들이 기본적으로 body에 margin을 주기 때문에 처음에 여백이 생긴다, 모든 여백을 없애고 원하는 대로 만들기 위해서 = 초기화 */
  padding: 0;
  box-sizing: border-box; /* 이게 뭐지? padding을 줬을 때 크기가 커지지 않게 하기 */
  font-family: sans-serif;
}
/* box 컨테이너 */
.box-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

/* 안에 들어가는 박스들 */
.box {
  flex: 1 1 200px;
  min-width: 150px;
  height: 100px;
  background-color: salmon;
  color: white;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
