.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 100%;
}
.box {
  height: 100px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* box1: flex 속성 */
.box1 {
  flex: 1;
  background-color: #fff6b6;
}

/* box2: grow만 따로 */
.box2 {
  flex-grow: 1;
  background-color: #74c0fc;
  width: 200px; /* 기준 너비 있음 */
}
