/* 전체 기본 스타일 */
body {
  margin: 0; /* 0 세팅하는 이유? 브라우저들이 기본적으로 body에 margin을 주기 때문에 처음에 여백이 생긴다, 모든 여백을 없애고 원하는 대로 만들기 위해서 = 초기화 */
  padding: 0;
  box-sizing: border-box; /* 이게 뭐지? padding을 줬을 때 크기가 커지지 않게 하기 */
  font-family: sans-serif;
}
/* card 컨테이너 */
.card-container {
  display: flex;
  flex-wrap: wrap; /* 줄바꿈 가능하게 */
  gap: 20px;
  padding: 20px;
}

/* 안에 들어가는 박스들 */
.card {
  flex: 1 1 300px; /* glow, shrink, basis */
  min-width: 250px; /*최소 너비 보장*/
  background-color: #fff3bf;
  font-size: 20px;
  display: flex;
  border-radius: 10px;
  padding: 20px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  text-align: center;
}
